.product-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.back-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e64a19;
}

.product-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.product-image {
  width: 100%;
  height: 300px; /* O ajusta esta altura según el diseño que desees */
  object-fit: contain; /* Esto asegura que la imagen no se corte y mantenga su proporción */
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-detail-info {
  margin-top: 20px;
}

.product-price {
  font-size: 1.5em;
  color: #ff5722;
  margin: 10px 0;
}

.product-description {
  font-size: 1em;
  color: #555;
}
