.container {
  background-color: rgba(0, 0, 0, 0.219);
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: orange;
}

.presentacionhome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  .presentacion{
  text-align: center;
  color: orangered;
  padding: 30px;
  font-size: 80px;
  text-decoration: underline;
  font-family:'Courier New', Courier, monospace;
  }
  .imgpresentacion{
    width: 200px;
    height: 200px;
  }
  
}
