
.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.productview {
  width: 300px; /* Ancho de la tarjeta */
  border: 1px solid orange; /* Borde de la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Para manejar desbordamientos */
  background-color: #0e0e0e6c; /* Color de fondo */
}

.productview img {
  width: 100%; /* Imagen ocupa el ancho completo */
  height: auto; /* Altura automática según el ancho */
  object-fit: cover; /* Ajustar la imagen */
}

.card-body {
  padding: 15px; /* Espaciado interno */
}

.card-title {
  font-size: 1.2em; /* Tamaño de fuente del título */
  margin-bottom: 10px; /* Margen inferior */
}

.card-text {
  margin-bottom: 10px; /* Margen inferior */
}

.contador-producto {
  list-style: none; /* Quitar viñetas */
  padding: 0; /* Sin relleno */
  display: flex; /* Mostrar en fila */
  justify-content: space-between; /* Espaciado entre elementos */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 15px; /* Margen inferior */
}

.contador-producto li {
  margin: 0 5px; /* Margen entre elementos */
}

.contador-producto button {
  padding: 5px 10px; /* Relleno del botón */
  font-size: 1em; /* Tamaño de fuente */
  border: 1px solid #ddd; /* Borde del botón */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #f5f5f5; /* Color de fondo */
  cursor: pointer; /* Cursor al pasar */
  transition: background-color 0.3s; /* Transición de color de fondo */
}

.contador-producto button:disabled {
  cursor: not-allowed; /* Cursor no disponible */
  background-color: #e0e0e0; /* Color de fondo cuando deshabilitado */
}

.contador-producto button:hover:not(:disabled) {
  background-color: #ddd; /* Color de fondo al pasar */
}

.botones-producto {
  list-style: none; /* Quitar viñetas */
  padding: 0; /* Sin relleno */
  display: flex; /* Mostrar en fila */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.botones-producto li {
  margin: 0 5px; /* Margen entre elementos */
}

.botones-producto button {
  padding: 10px 20px; /* Relleno del botón */
  font-size: 1em; /* Tamaño de fuente */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  cursor: pointer; /* Cursor al pasar */
  transition: background-color 0.3s; /* Transición de color de fondo */
}

.botones-producto button:hover {
  background-color: #0056b3; /* Color de fondo al pasar */
}
