.card {
  width: 16rem; /* Puede ajustar según sea necesario */
  margin: 10px; /* Ajusta el margen si hay problemas de superposición */
  background-color: rgba(0, 0, 0, 0.348);
  color: white;
  border-radius: 20px;
  border: 3px solid orange;
  transition: transform 0.3s ease-in-out; /* Añadido para suavizar el efecto hover */
}

.card img {
  height: 18rem; /* Asegúrate de que las imágenes no se desborden */
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.02); /* Efecto hover suave */
}

.card-title {
  font-size: 1.4em;
  color: orange;
  text-align: center;
}

.card-text {
  font-size: 1.1em;
  color: #faf6f6;
  text-align: center;
}
@media (max-width: 576px) {
  .card{
   width: 16rem;
  }
}