.home {
  margin: 20px;
  background-color: #362f68;
  border-radius: 20px;
  border: 10px solid orange;
  display: flex;
  flex-direction: column; /* Disposición en columna */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 20px;
}

/* Ajuste en el carrusel */
.carousel {
  max-width: 100%;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Max height to maintain aspect ratio on large screens */
}

/* --------------------------------NOVEDADES------------------------------------------ */
.novedades {
  width: 100%; /* Se ajusta al ancho disponible */
}

.titulo-novedades h2 {
  text-align: center;
  margin: 20px;
  color: orange;
  font-size: 64px;
  text-decoration: underline;
}

.cards-novedades {
  display: flex;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  flex-wrap: wrap; /* Permite que las tarjetas hagan wrap */
  padding: 10px;
}
/* ----------------------------------botonres---------------------------------------- */
.botones-home {
  display: flex; /* Cambiamos a flexbox para alinear en fila */
  flex-wrap: wrap; /* Permite que los botones se ajusten a la siguiente línea si no hay suficiente espacio */
  width: 100%;
  margin: 10px; /* Margen alrededor del contenedor */
  justify-content: center;
}

.boton-relojeria1,
.boton-telefono,
.boton-electronica,
.boton-gamer {
  width: 300px;
  padding: 10px;
  height: 300px; /* Ajustar la altura según sea necesario */
  background-size: cover; /* Asegura que la imagen cubra todo el botón */
  background-position: center; /* Centra la imagen en el botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: white;
  font-size: 1.5em; /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  margin: 10px; /* Espacio entre botones */
  border: 4px solid orange;
  overflow: hidden; /* Oculta el desbordamiento */
  transition: opacity 0.3s; /* Suaviza el efecto hover */
}

/* Definiciones de área */
.boton-telefono {
  background-image: url("../../../public/img/Telefonia.jpg");
}

.boton-gamer {
  background-image: url("../../../public/img/Gaming.jpg");
}

.boton-electronica {
  background-image: url("../../../public/img/Electronica.jpg");
}

.boton-relojeria1 {
  background-image: url("../../../public/img/Relojeria.jpg");
}

/* Hover Effect */
.boton-relojeria1:hover,
.boton-electronica:hover,
.boton-gamer:hover,
.boton-telefono:hover {
  opacity: 0.8; /* Cambio de opacidad al pasar el ratón */
}





/* ----------------------------SOCIALES HOME---------------------------------------------- */
.redessociales {
  width: 100%; /* Se ajusta al ancho disponible */
  background-color: #0c0c0c6e; /* Color de fondo para la sección */
  padding: 20px;
  border-radius: 8px;
  border: 4px solid orange;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Espaciado vertical */
}

.ubicacion {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.maps {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  border: 5px solid gray;
}

.titulo-redessociales h4 {
  
  color: #fffcfc;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 45px;
}

.socialshome {
  list-style: none; /* Eliminar los puntos de lista */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los iconos */
}

.socialshome a {
  border: 2px solid orange;
  color: orange; /* Color de los iconos */
  background-color: #362f68; /* Color de fondo de los iconos */
  border-radius: 50%;
  width: 100px; /* Tamaño del contenedor para iconos más grandes */
  height: 100px; /* Tamaño del contenedor para iconos más grandes */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem; /* Tamaño del icono */
  text-decoration: none; /* Eliminar el subrayado de los enlaces */
  transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.socialshome a:hover {
  background-color: #362f68; /* Cambio de color al pasar el mouse */
  color: white;
}

/* ---------------------------------pagos----------------------------------------- */
.mediopagos {
  width: 100%; /* Se ajusta al ancho disponible */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagos {
  width: 100px;
  height: 100px;
  margin: 4px;
  border-radius: 20px;
 
}

.titulo-mediopagos h3 {
  color: white;
  padding: 20px;
  font-size: 34px;
}

.marcas {
  width: 100%; /* Se ajusta al ancho disponible */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.marcaimg {
  width: 100px;
  height: 100px;
  margin: 10px;
}

/* ------------------------------------EVENTO1-------------------------------------- */
/* Estilos para la sección de evento */
.evento1 {
  width: 100%;
  border: 4px solid orange;
  border-radius: 20px;
  margin: 20px 0;
  background-color: #2d2d2d; /* Fondo oscuro para resaltar el contenido */
}

.titulo-evento1 .mesmama {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #f1ecec;
  text-decoration: underline;
}

.slider {
  display: flex;
  justify-content: center;
  padding: 20px;
}


/* ---------------------------------RESPONSIVE---------------------------------------- */

/* Pantallas grandes (Desktop y monitores grandes) */
@media (min-width: 1200px) {
  .home {
    flex-direction: column; /* Mantiene la disposición en columna */
  }
}

/* Pantallas medianas (Tablets y pantallas pequeñas) */
@media (max-width: 1199px) {
  .carousel-item img {
    max-height: 400px;
  }

  .titulo-novedades h2 {
    font-size: 2.5rem;
  }

  .boton-relojeria,
  .boton-telefono,
  .boton-electronica,
  .boton-gamer {
    font-size: 1.25rem;
    height: 300px;
  }
  .titulo-evento1 .mesmama {
    text-align: start;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }
}

/* Pantallas pequeñas (Smartphones) */
@media (max-width: 768px) {
  .carousel-item img {
    max-height: 300px;
  }

  .titulo-novedades h2 {
    font-size: 2rem;
  }

  .boton-relojeria,
  .boton-telefono,
  .boton-electronica,
  .boton-gamer {
    font-size: 1rem;
    height: 250px;
  }
  .titulo-evento1 .mesmama {
    text-align: center;
    padding: 20px;
    font-size:medium;
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }
  .titulo-mediopagos h3 {
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
  .titulo-redessociales h4 {
  
    color: #fffcfc;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
  }
 
  
}

/* Pantallas extra pequeñas (Smartphones pequeños) */
@media (max-width: 576px) {
  .carousel-item img {
    max-height: 250px;
  }

  .titulo-novedades h2 {
    font-size: 1.5rem;
  }

  .boton-relojeria,
  .boton-telefono,
  .boton-electronica,
  .boton-gamer {
    font-size: 0.875rem;
    height: 150px;
  }
  .titulo-evento1 .mesmama {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }
  .titulo-mediopagos h3 {
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
  .titulo-redessociales h4 {
  
    color: #fffcfc;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
  }
  
}
